.env
.env.test

node_modules

.next
next-env.d.ts

src/generated
prisma/dev

# clerk configuration (can include secrets)
/.clerk/

behaviors/.browserStorageState

coverage-reports
.v8-coverage

.context